body {
    display: flex;
    margin: 0;
    font-size: large;
    font-family: sans-serif;
}

@font-face {
    font-family: odin-font;
    src: url(other-files/Norse-Bold.otf);
}

img#leaves {
    height: 100vh;
}

.left {
    position: relative;
    z-index: 2;
}

#block {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 10rem;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 20px 0;
}

#odin {
    height: 100%;
}

#odin-text {
    font-family: odin-font;
    color: white;
    font-size: 5rem;
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
}

#credit {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.section {
    display: block;
    padding: 20px 40px;
}

.top,
.bottom {
    padding-right: 30%;
    background-color: rgb(250, 250, 250);
    position: relative;
    flex-grow: 1;
}

#para {
    position: relative;
    bottom: -3rem;
    font-size: 1.6rem;
}

.middle.section > p {
    font-size: 1.5rem;
    margin: 0;
}

div.middle {
    box-shadow: 0px 3px 10px rgb(185, 185, 185);
    z-index: 1;
    padding-bottom: 0;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10%;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 60%;
    font-size: 1.2rem;
}

label {
    margin-top: 20px;
}

input {
    font-size: 1.1rem;
    border: solid 1px rgb(196, 196, 196);
    border-radius: 4px;
    padding: 4px 8px;
}

input:invalid {
    border: red solid 1px;
}

input:valid {
    border: green solid 1px;
    background-color: rgba(0, 128, 0, 0.1);
}

input:placeholder-shown {
    border: solid 1px rgb(196, 196, 196);
}

input:hover {
    background-color: rgba(255, 255, 0, 0.3);
    border: solid 1px gold;
    box-shadow: 2px 2px 5px gold;
}

input:focus {
    outline: none !important;
    border: blue solid 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.671);
}

input[type="submit"] {
    background-color: rgb(182, 28, 23);
    color: gold;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    top: 4.5rem;
}

.bottom.section > p {
    position: relative;
    top: 3rem;
}

a {
    color: rgb(182, 28, 23);
}